:root {
  /* primary */
  --theme-color-primary-50: 238 255 247; /* #eefff7 */
  --theme-color-primary-100: 215 255 238; /* #d7ffee */
  --theme-color-primary-200: 178 255 221; /* #b2ffdd */
  --theme-color-primary-300: 119 254 196; /* #77fec4 */
  --theme-color-primary-400: 52 244 162; /* #34f4a2 */
  --theme-color-primary-500: 10 221 132; /* #0add84 */
  --theme-color-primary-600: 1 184 108; /* #01b86c */
  --theme-color-primary-650: 2 168 99; /* #02a863 */
  --theme-color-primary-700: 5 135 81; /* #058751 */
  --theme-color-primary-800: 10 113 71; /* #0a7147 */
  --theme-color-primary-900: 11 92 60; /* #0b5c3c */

  /* error */
  --theme-color-error-25: 255 251 250; /* #fffbfa */
  --theme-color-error-50: 254 243 242; /* #fef3f2 */
  --theme-color-error-100: 254 228 226; /* #fee4e2 */
  --theme-color-error-200: 254 205 202; /* #fecdca */
  --theme-color-error-300: 253 162 155; /* #fda29b */
  --theme-color-error-400: 249 112 102; /* #f97066 */
  --theme-color-error-500: 249 86 74; /* #f9564a */
  --theme-color-error-600: 217 45 32; /* #d92d20 */
  --theme-color-error-700: 180 35 24; /* #b42318 */
  --theme-color-error-800: 145 32 24; /* #912018 */
  --theme-color-error-900: 91 16 5; /* #7a271a */

  /* Green */
  --theme-color-success-50: 240 253 244; /* #f0fdf4 */
  --theme-color-success-100: 226 240 230; /* #e2f0e6 */
  --theme-color-success-200: 176 219 188; /* #b0dbbc */
  --theme-color-success-300: 140 198 157; /* #8cc69d */
  --theme-color-success-400: 96 192 124; /* #60c07c */
  --theme-color-success-500: 66 178 99; /* #42b263 */
  --theme-color-success-600: 40 149 72; /* #289548 */
  --theme-color-success-700: 48 120 69; /* #307845 */
  --theme-color-success-800: 43 79 53; /* #2b4f35 */
  --theme-color-success-900: 38 55 43; /* #26372b */

  /* warning */
  --theme-color-warning-25: 255 252 245; /* #fffcf5 */
  --theme-color-warning-50: 255 250 235; /* #fffaeb */
  --theme-color-warning-100: 254 240 199; /* #fef0c7 */
  --theme-color-warning-200: 254 223 137; /* #fedf89 */
  --theme-color-warning-300: 254 200 75; /* #fec84b */
  --theme-color-warning-400: 253 176 34; /* #fdb022 */
  --theme-color-warning-500: 247 144 9; /* #f79009 */
  --theme-color-warning-600: 220 104 3; /* #dc6803 */
  --theme-color-warning-700: 181 71 8; /* #b54708 */
  --theme-color-warning-800: 147 55 13; /* #93370d */
  --theme-color-warning-900: 122 46 14; /* #7a2e0e */

  /* gray */
  --theme-color-gray-25: 252 252 252; /* #fcfcfc */
  --theme-color-gray-50: 245 245 245; /* #f5f5f5 */
  --theme-color-gray-100: 238 238 238; /* #eeeeee */
  --theme-color-gray-200: 229 229 229; /* #e5e5e5 */
  --theme-color-gray-300: 183 183 183; /* #b7b7b7 */
  --theme-color-gray-400: 163 163 163; /* #a3a3a3 */
  --theme-color-gray-500: 115 115 115; /* #737373 */
  --theme-color-gray-600: 82 82 82; /* #525252 */
  --theme-color-gray-700: 72 70 70; /* #484646 */
  --theme-color-gray-800: 41 41 41; /* #292929 */
  --theme-color-gray-900: 20 20 20; /* #141414 */

  /* white */
  --theme-color-white: 255 255 255; /* #ffffff */

  /* subtle white */
  --theme-color-subtle-white: 250 250 250; /* #f8f8f8 */

  /* black */
  --theme-color-black: 43 43 43; /* #2b2b2b */

  /* subtle black */
  --theme-color-subtle-black: 56 56 56; /* #383838 */

  /* base black */
  --theme-color-base-black: 43 43 43; /* #2B2B2B */

  /* dark green */
  --theme-color-dark-green: 38 55 48; /* #263730 */
}
